<h3>Bookers</h3>

<h1>Books</h1>
<% @books.each do |book| %>
  <div>
    <p><%= image_tag 'no_image.jpg' %></p>
    <p><%= book.title %></p>
    <p><%= book.body %></p>
    <p><%= book.user.name %></p>
    <%= link_to "Edit", edit_book_path(book.id) %>
    <%= link_to "Delete", book_path(book.id), method: :delete, "data-confirm" => "Are you sure?" %>
  </div>
<% end %>

<%= form_with model: @book do |f| %>
 <h2>User info</h2>
 <%= f.file_field :image, accept: "image/*" %>
     <h6>name
     <%= f.text_field :name %></h6>
     <h6>introduction
     <%= f.text_field :introduction %></h6>
 
 <h2>New Book</h2>
 <% if @book.errors.any? %>
   <%= @book.errors.count %> errors prohibited this obj from being saved:
   <ul>
     <% @book.errors.full_messages.each do |message| %>
     <li><%= message %></li>
     <% end %>
   </ul>
 <% end %>
 
  <h4>Title<br>
  <%= f.text_field :title %></h4>
  <h4>Opinion<br>
  <%= f.text_area :body %></h4>
  <%= f.submit 'Create Book' %>
<% end %>