<% if @book.errors.any? %>
    <h3><%= @book.errors.count %> errors prohibited this obj from being saved:</h3>
    <ul>
      <% @book.errors.full_messages.each do |message| %>
    <li><%= message %></li>
      <% end %>
    </ul>
<% end %>

<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <h2>User info</h2>
      <%= image_tag 'no_image.jpg' %>
        <table class="table">
          <tbody>
            <tr>
            <th>name</th>
            <th><%= @book.user.name %></th>
            <th colspan="2"></th>
            </tr>
            <tr>
            <th>introduction</th>
            <th><%= @book.user.introduction %></th>
            <th colspan="2"></th>
            </tr>
          </tbody>
        </table>

 <table class="table">
  <div class="row">
    <%= link_to edit_user_path(@book.user_id), class: "btn btn-outline-secondary btn-block" do %>
      <i class="fas fa-user-cog"></i>
    <% end %>
  </div>
</table>

<h2>New book</h2>
    <% if @book.errors.any? %>
    <%= @book.errors.count %> errors prohibited this obj from being saved:
  <ul>
    <% @book.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
    <% end %>

    <%= form_with model: @book_new do |f| %>
      <p>Title<br>
    <%= f.text_field :title %></p>
      <p>Opinion<br>
    <%= f.text_area :body %></p>
    <%= f.submit 'Create Book', class: 'btn btn-success' %>
    <% end %>
    </div>

<div class="col-md-8 offset-md-1">
   <h2>Book detail</h2>
<table class="table table-hover table-inverse">
    <thead>
    <tr>
      <td>
          <%= link_to user_path(@book.user_id) do %>
          <%= image_tag 'no_image.jpg' %><br>
          <% end %>
          <%= link_to @book.user.name, user_path(@book.user_id) %></td>
      <td><%= link_to @book.title, book_path(@book.id) %></td>
      <td><%= @book.body %></td>
    <% if @book.user_id == current_user.id %>
      <td><%= link_to "Edit", edit_book_path(@book.id), class: 'btn btn-success' %></td>
      <td><%= link_to "Destroy", book_path(@book.id), method: :delete, "data-confirm" => "Are you sure?", class: 'btn btn-danger' %></td>
    <% end %>
      </tr>
    </thead>
</table>
</div>
</div>
</div>

